<%- include("../includes/head.ejs") %>
<link rel="stylesheet" href="/css/signup.css">
</head>

<body>
    <%- include("../includes/navigation.ejs", ) %>
    <% if (errorMessage) { %>
    <div class="user-message-error"> <%= errorMessage %> </div>
    <% } %>
    <form action="/signup" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="Enter Your Name" value="<%=oldInput.email%>">
        <br>
        <label for="email">Email</label>
        <input class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>" type="text" name="email"
            placeholder="Enter Your Email" value="<%= oldInput.email %>">
        <br>
        <label for="psw">Password</label>
        <input class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>" type="password"
            name="password" value="<%= oldInput.password %>" placeholder="Enter Your Password">
        <br>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button type="submit">
            Sign Up
        </button>
    </form>

    <%- include("../includes/footer.ejs") %>