<%- include("../includes/head.ejs") %>
<link rel="stylesheet" href="/css/signup.css">
</head>

<body>
    <%- include("../includes/navigation.ejs", ) %>
    <% if (errorMessage) { %>
    <div class="user-message-error"> <%= errorMessage %> </div>
    <% } %>
    <form action="/signup" method="POST">
        <label for="email">Email</label> <br> <input type="text" placeholder="enter your email" name="email" required>
        <br>
        <label for="psw">Password</label> <br> <input type="password" placeholder="enter password" name="password"
            required>
        <br>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button type="submit">
            signup
        </button>
    </form>

    <%- include("../includes/footer.ejs") %>