<%- include("../../includes/head.ejs") %>
<link rel="stylesheet" href="/css/admin.css">
</head>

<body>
    <%- include("../../includes/navigation.ejs", ) %>
    <% if (errorMessage) { %>
    <div class="user-message-error"> <%= errorMessage %> </div>
    <% } %>
    <form class="change-password" action="/settings/changed-password/<%=user._id%>" method="POST">

        <label for="password">Old Password</label>
        <input type="password" name="oldPassword" placeholder="Your Old Password..." required>

        <label for="password">Your New Password</label>
        <input type="password" name="newPassword" placeholder=" Your New Password..." required>

        <label for="password">Confirm Your New Password</label>
        <input type="password" name="confirmNewPassword" placeholder="Confirm Your Password..." required>

        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button type="submit">
            Submit Password
        </button>
    </form>
    <%- include("../../includes/footer.ejs") %>